<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nhuhai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  </head>
  <body>
    <div id="content">
      <section class="post">
        <h2>This is gonna be a haphazard Sunday.</h2>
        <h5>Aug 21, 2016</h5>
        <p>
          Yesterday, after a long day of reading over PayPal's documentations and getting
          the sample app up and running, I was happy but felt a little depressed. I guess
          mostly because I live alone and don't have anyone to talk to for the entire day. I
          need to have my own space. It doesn't have to be super quiet, just undisturbed enough so
          that I can focus on my work. But I also need to have other people to talk to or to share
          my thoughts, happy and sad moments with. This is one of the main problems that
          I have right now, and it needs to be fixed soon. I'll talk more about this topic another time.
        </p>

        <p>
          Couldn't stand it anymore, I decided to go outside. I head to the gym and ran on the
          treadmill for 2 miles. I'm training for a 5K. It's tough during the run, but
          the feeling afterward is always great. On the way home, I visited Safeway, a groceries
          store, to get some fruits to make smoothies and some groceries to cook for the next day.
          While wandering in Safeway, my sister called me via Facetime, and we had a really good talk.
          I hope she would find a good class that helps her brush up on her English skills and
          get ready for the upcoming job. It's going to be an exciting opportunity for her :)
          Can't wait to see it!
        </p>

        <p>
          It looks like item #1 is the only thing I got done this weekend so far. I'll try to
          finish items #2, #3, and #7 tonight after spending a haphazard day in San Jose.
        </p>
        <hr />
      </section>

      <section class="post">
        <h2>Another quiet Saturday</h2>
        <h5>Aug 20, 2016</h5>
        <p>Something is wrong with the weather in SF and the East Bay this summer. It's just
          the beginning of August, but I feel like winter in the past 2 weeks. It started to get
          cold and windy, especially early in the morning and starting from 7pm in the evening.
          I have to turn the thermostat to 80F before going to bed so that the heater turns on
          when it gets to around 70F early in the morning, which might give me sore throat.
          This kind of remind me of the weather in the tropical areas, but that's the story for
          another day.</p>

        <p>There're so many things I need to get done this weekend. Sometimes, it's just
        so overwhelming that I don't even know where to start. In these cases, it helps to write
        down those things, prioritize them, and set up a rough timeline.
        Anyway, here's the things I want to finish this weekend:</p>

        <ul>
          <li>(6) Setup developing environment for the Computer Netwoks class</li>
          <li>(1) Do the integration that I've been delaying for so long</li>
          <li>(4) Brush up on C, check learn C the hard way, C callbacks</li>
          <li>(5) Watch the Udemy class on Python and PostgresSQL bought yesterday</li>
          <li>(3) Skim over the materials, print out the syllabus of both Operating System (OS) and
            Computer Networks (CN) classes and set up a weekly schedule on when to study and read papers
            for each class.</li>
          <li>(2) Finish the work and submit a pull request (PR) for an unfinished task at work</li>
          <li>(7) Do laundry and clean up the apartment</li>
        </ul>

        <p>Alright, have a good day :)</p>
        <hr/>
      </section>

      <section class="post">
        <h2>Hello World</h2>
        <h5>Aug 19, 2016</h5>


        <p>I've been planning to write a blog or a daily journal for a while but never really
        got to it. I think now is a good time for me to start one. So yeah, if you happen
        to stumble upon this, welcome to my site :)
        </p>

        <p>The website is pretty simple now, just some HTML, CSS rendered by Flask (not that Flash),
        but I will add more features to make it look
        beautiful and better organized. Also, if I have time, I'll switch it to a better-looking domain.
        This domain was actually indended to use as an API endpoint for a side project that I'm
        working on.</p>

        <p>I plan to write a post every day since that'd help
        me improve my writing and focus on more important things. I will spend
        at most 10-15 minutes to compose a post, so most of them will be short,
        depending on how fast I formalize what I want to write and type them down. The content
        of each post could be anything, from what I do on that date to my thoughts on certain topics or
        whatever interesting things I'd like to share.</p>

        <p>Again, welcome!!</p>
        <hr />
      </section>
    </div>
  </body>
</html>
