<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nhuhai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
  </head>
  <body>
    <h2>Hello World</h2>
    <h5>Aug 19, 2016</h5>

    <div id="content">
      <p>I've been planning to write a blog or a daily journal for a while but never really
      got to it. I think now is a good time for me to start one. So yeah, if you happen
      to stumble upon this, welcome to my site :)
      </p>

      <p>The website is pretty simple now, just some HTML, CSS rendered by Flask (not that Flash),
      but I will add more features to make it look
      beautiful and better organized. Also, if I have time, I'll switch it to a better-looking domain.
      This domain was actually indended to use as an API endpoint for a side project that I'm
      working on.</p>

      <p>I plan to write a post every day since that'd help
      me improve my writing and focus on more important things. I will spend
      at most 10-15 minutes to compose a post, so most of them will be short,
      depending on how fast I formalize what I want to write and type them down. The content
      of each post could be anything, from what I do on that date to my thoughts on certain topics or
      whatever interesting things I'd like to share.</p>

      <p>Again, welcome!!</p>
    </div>
  </body>
</html>
